.hintLabel {
  display: inline-flex;
  column-gap: 6px;
  font-weight: 500;
  font-size: 13px;
  height: 24px;

  .infoWrapper {
    position: relative;
    cursor: pointer;
    font-weight: 300;

    svg {
      position: absolute;
      top: 3px;
    }
  }
}
