@use "src/styles/palette.module.scss" as *;
@use "src/styles/global.module.scss" as *;

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  width: $sidebar-width;
  height: 100%;
  padding-top: $content-top-padding;
  background-color: $dark-purple;
}
