{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": true
    },
    "target": "es2019",
    "paths": {
      "@src/*": [
        "./src/*"
      ]
    },
    "baseUrl": "./src"
  },
  "module": {
    "type": "commonjs"
  }
}
