@import "src/styles/palette.module.scss";

.importJSON {
  textarea {
    width: 100%;
    height: 400px;
    background-color: $dark-purple;
    font-size: 16px;
    padding: 22px;
    color: #fff;
  }

  .error {
    color: red;
  }
}

.importButton {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
